{% extends 'base.html.twig' %}

{% block title %}Entries{% endblock %}

{% block body %}
    <h1 class="mt-4">
        Entries
        <a class="btn btn-outline-primary" href="{{ path('entry_new') }}">Create new</a>
    </h1>

    <div class="row">
        <div class="col-md-6">
            {{ form_start(searchForm) }}
            <fieldset>
                <legend>Search Entries</legend>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(searchForm.userEquals) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(searchForm.categoryContains) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(searchForm.payeeContains) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(searchForm.notesContains) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(searchForm.dateFrom) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(searchForm.dateTo) }}
                </div>
            </div>
            <button class="mt-4 btn btn-primary">{{ button_label|default('Search') }}</button>
            </fieldset>
            {{ form_end(searchForm) }}
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Balance</th>
                        <td>${{ balance | number_format(2) }}</td>
                    </tr>
                    <tr>
                        <th>Spending for {{ date() | date("F") }}</th>
                        <td>${{ monthlySpending | number_format(2) }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Price</th>
                <th>Payee</th>
                <th>Category</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.user | title }}</td>
                <td>{{ entry.entryDate | date("Y-m-d") }}</td>
                <td>${{ entry.price | number_format(2) }}</td>
                <td>{{ entry.payee }}</td>
                <td>{{ entry.category }}</td>
                <td>{{ entry.notes | u.truncate(20, "...") }}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-outline-primary" href="{{ path('entry_show', {'id': entry.id}) }}">Details</a>
                        <a class="btn btn-outline-dark" href="{{ path('entry_edit', {'id': entry.id}) }}">Edit</a>
                        {{ include("entry/_delete_link.html.twig", {entry: entry}) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
