{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.days) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.goal) }}
            {{ form_row(form.reward) }}
        </div>
    </div>
    <button class="mt-4 btn btn-primary">Update</button>
    {{ form_end(form) }}

{% endblock %}
