{% extends 'base.html.twig' %}

{% block title %}Entries{% endblock %}

{% block body %}
    <h1>Entries</h1>
    <a href="{{ path('task_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Goal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('task_show', {'id': task.id}) }}">{{ task.goal }}</a></td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-outline-dark" href="{{ path('task_edit', {'id': task.id}) }}">Edit</a>
                        {{ include("task/_delete_link.html.twig", {task: task}) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
