<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap.min.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('jquery-3.7.1.min.js') }}" defer></script>
            <script src="{{ asset('bootstrap.bundle.min.js') }}" defer></script>
            <script src="{{ asset('main.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
        {{ include("layout/_navbar.html.twig") }}
        <div class="container">
            {{ include("layout/_flash_messages.html.twig") }}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
